[buildout]
develop = .
parts = pytest
extensions = mr.developer buildout.dumppickedversions

# mr.developer
auto-checkout = *
always-checkout = true
sources-dir = checkouts

[sources]
cromlech.browser = git gitosis@devel.dolmen-project.org:cromlech.browser.git
cromlech.io = git gitosis@devel.dolmen-project.org:cromlech.io.git

[pytest]
recipe = z3c.recipe.scripts
# Need exit status code for buildbot.
# See https://bugs.launchpad.net/zc.buildout/+bug/164629
script-initialization =
  import pytest
  if __name__ == '__main__': sys.exit(pytest.main('src'))
eggs =
    dolmen.layout [test] 
    pytest
